<div class="clearfix"></div>
<section class="client-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header wow zoomInDown" data-wow-duration="2s">
                    <h2>AS <span> SEEN ON </span></h2>
                    <!-- <p><img src="images/favicon.png" alt="icon"></p> -->
                    <hr style="width: 50%; color: black; border-width: 5px; border-color: rgba(37, 104, 239, 1);" />

                </div><!-- section-heading -->
                <div class="section-wrapper">
                    <div class="client-list">
                        <!-- Swiper -->
                        <div class="swiper-container client-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a hrefs="#"><img
                                                class="img-responsive" src="images/1534238951.png"
                                                alt="Business Insider"></a></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a hrefs="#"><img
                                                class="img-responsive" src="images/1534239056.gif" alt="CNBC"></a></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a hrefs="#"><img
                                                class="img-responsive" src="images/1534239167.png"
                                                alt="The Economist"></a></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a hrefs="#"><img
                                                class="img-responsive" src="images/1534239269.png" alt="Coindesk"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a hrefs="#"><img
                                                class="img-responsive" src="images/1542758623.jpg" alt="Bloomberg"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a hrefs="#"><img
                                                class="img-responsive" src="images/1542758660.png" alt="DFT"></a></div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </div>
                            <div class="swiper-button-prev">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </div>
                        </div><!-- client container -->
                    </div><!-- client list-->
                </div><!-- swiper wrapper -->
            </div>

        </div><!-- row -->
    </div><!-- container -->
</section>
<div class="clearfix"></div>
<!--testimonial section start-->
<section class="people-say-section section-padding section-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- section header start -->
                <div class="section-header wow bounceInLeft" data-wow-duration="2s">
                    <h2>What <span>Our Top Representatives Say</span>!</h2>
                    <!-- <p><img src="images/favicon.png" alt="icon"></p> -->
                    <hr style="width: 50%; color: black; border-width: 5px; border-color: rgba(37, 104, 239, 1)" />

                </div>
                <!-- section header end -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="testimonial-area">
                    <div class="row">
                        <div class="col-lg-12  col-md-10 ">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-2">
                                    <div class="testimonial-image-slider slider-nav text-center">
                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/prof.jpeg" alt="slider">
                                        </div>

                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/prof2.jpeg" alt="slider">
                                        </div>

                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/prof3.jpeg" alt="slider">
                                        </div>

                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/prof4.jpeg" alt="slider">
                                        </div>

                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/prof5.jpeg" alt="slider">
                                        </div>

                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/prof6.jpeg" alt="slider">
                                        </div>
                                        <!-- <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/107739310_148464.jpg" alt="slider">
                                        </div>
                                        <div class="sin-testiImage wow rotateIn" data-wow-duration="2s">
                                            <img src="images/806630741_355200.jpg" alt="slider">
                                        </div> -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="testimonial-text-slider slider-for text-center wow bounceInRight"
                                data-wow-duration="2s">

                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4> Alejandro Gutiérre </h4>

                                        <h6> United States </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            “I know nothing about trading, but NexGold Finance has made it
                                            possible for me to accomplish such tasks without my direct involvement with
                                            excellent weekly returns. I will encourage all to give NexGold Finance a try.”
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>

                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4> Dineo Mosweu </h4>

                                        <h6> Botswana </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            “The principals of NexGold Finance (NGF) have a great mix of
                                            creativity and common sense in choosing and managing assets. Because of our
                                            thoroughness and ingenuity, we look at investment properties differently.We
                                            leave no stone unturned in finding ways to maximize the value of our
                                            ventures. "We keep our investors informed, by giving accurate and timely
                                            property assessments—warts and all. We have no hidden agenda.”
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>

                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4>Mr & Mrs Heikkinen </h4>

                                        <h6> United Kingdom </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            "NexGold Finance (NGF) is one of the top best private investment
                                            firms to work with. We assure you great and wonderful returns on our Trading
                                            Investment platform. Glad to be part of the team.”
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>

                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4>Gyula Açık </h4>

                                        <h6> Turkey </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            “NexGold Finance (NGF) lets us focus more on acquisitions while
                                            they help us manage the day to day operations.”
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>

                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4>Nicolas Demetriou</h4>

                                        <h6> Ukraine </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            Have been working with NexGold Finance (NGF) since the beginning of
                                            2014 and was happy to take part in testing the new service. Small issues
                                            appear here and there but they are fixed promptly and I’m satisfied. I
                                            surely hope that the quality of the service will rise with time.
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>

                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4>Wendy J. Whalan</h4>

                                        <h6> France </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            After the initial test I have only positive emotions. Allocating pools is
                                            awesome and well-made. The software is generally user-friendly and
                                            intuitive. Everything in the panel is where it’s supposed to be and no
                                            unecessary things. After the testing period is over I will definitely
                                            continue with NexGold Finance (NGF) .
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>
                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4>Haddy Touray </h4>

                                        <h6> France </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            "NexGold Finance is one of the leading crypto, forex and stock
                                            trading companies. It’s good to see that they provide honest service which
                                            shows their dealings openly to their investors."
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>
                                <div class="sin-testiText">
                                    <!-- people sat content list start -->
                                    <div class="people-say-content-list  ">
                                        <h4>Robbie Jefferson</h4>

                                        <h6> Investor </h6>
                                        <ul>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <p>
                                            " NexGold Finance (NGF) , has demonstrated integrity over the long
                                            term. When many investment firms appear just long enough to make quick buck
                                            and leave, Mercury endures. They always find ways to make good investments -
                                            even when it's not easy."
                                        </p>
                                    </div>
                                    <!-- people-say-content-list end -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div><!-- row -->
</section>


<!--  section -->
<!--testimonial section start-->
<!-- Online Section End -->


<div class="clearfix"></div>


<div class="clearfix"></div>

<!--payment method section start-->
<section class="client-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header wow zoomInDown" data-wow-duration="2s">
                    <h2>PAYMENT <span> WE ACCEPT</span></h2>
                    <div class="wrapper"><p>
                    </p>
                    <img src="images/log.png" alt="icon">
                    <p>
                    </p></div>
                    
                </div><!-- section-heading -->
                <div class="section-wrapper">
                    <div class="client-list">
                        <!-- Swiper -->
                        <div class="swiper-container client-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45df6c627fd.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45df74cfd50.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45df7d18723.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45df87b4488.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45df92b5a78.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45df9bd5574.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45dfca9c867.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45dfb4b9208.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45e00804404.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45dfddda95d.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <!-- <div class="swiper-slide"><div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img class="img-responsive" src="assets/images/5b45dfe73d69d.jpg" alt="client"></a></div></div> -->
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45dffd6f5dc.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45e01503936.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45e03150cb7.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45e0721c31e.jpg" alt="client"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="our-client wow rotateIn" data-wow-duration="2s"><a href="#"><img
                                                class="img-responsive" src="images/5b45e045e1434.jpg" alt="client"></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </div>
                            <div class="swiper-button-prev">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </div>
                        </div><!-- client container -->
                    </div><!-- client list-->
                </div><!-- swiper wrapper -->
            </div>

        </div><!-- row -->
    </div><!-- container -->
</section>

<%- include('./footer.ejs') %>