<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NGF </title>
    <script src="https://use.fontawesome.com/e281e58f67.js"></script>
    <script src="https://kit.fontawesome.com/94a9a25c09.js" crossorigin="anonymous"></script>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="description"
        content="NexGold Finance is an investment firm whose focus is on projects related to the blockchain and cryptocurrency technology">
    <meta property="description" name="description"
        content="NexGold Finance is an investment firm whose focus is on projects related to the blockchain and cryptocurrency technology">
    <!--Favicon add-->
    <meta rel="icon" type="image/jpg" content="/images/log.png">

    <link rel="icon" type="image/jpg" href="/images/log.png">


    <!--bootstrap Css-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome Css-->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Lightcase  Css-->
    <link href="/css/lightcase.css" rel="stylesheet">
    <!--WOW Css-->
    <link href="/css/animate.min.css" rel="stylesheet">
    <!--Slick Slider Css-->
    <link href="/css/slick.css" rel="stylesheet">
    <!--Slick Nav Css-->
    <link href="/css/slicknav.min.css" rel="stylesheet">
    <!--Swiper  Css-->
    <link href="/css/swiper.min.css" rel="stylesheet">
    <!--Style Css-->
    <link href="/css/style_1.css" rel="stylesheet">
    <!-- Theam Color Css-->
    <link href="colorba36ba36.html" rel="stylesheet">
    <!--Responsive Css-->
    <link href="/css/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/css/ranger-style.css">
    <!-- <link rel="stylesheet" href="https://www.amuncapitalfinance.com/assets//css/ion.rangeSlider.skinFlat.css"> -->
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css">
    <style>
        .price-table {
            margin-bottom: 45px;
        }
    </style>
    <style>
        .btn-facebook {
            color: #ffffff !important;
            text-decoration: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #2b4b90;
            *background-color: #133783;
            background-image: -moz-linear-gradient(top, #3b5998, #133783);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
            background-image: -webkit-linear-gradient(top, #3b5998, #133783);
            background-image: -o-linear-gradient(top, #3b5998, #133783);
            background-image: linear-gradient(to bottom, #3b5998, #133783);
            background-repeat: repeat-x;
            border-color: #133783 #133783 #091b40;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-facebook:hover,
        .btn-facebook:focus,
        .btn-facebook:active,
        .btn-facebook.active,
        .btn-facebook.disabled,
        .btn-facebook[disabled] {
            color: #ffffff !important;
            background-color: #133783;
            *background-color: #102e6d;
        }

        .btn-facebook:active,
        .btn-facebook.active {
            background-color: #0d2456 \9;
        }

        .btn-google-plus {
            color: #ffffff !important;
            text-decoration: none !important;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #d34332;
            *background-color: #c53727;
            background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
            background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
            background-image: -o-linear-gradient(top, #dd4b39, #c53727);
            background-image: linear-gradient(to bottom, #dd4b39, #c53727);
            background-repeat: repeat-x;
            border-color: #c53727 #c53727 #85251a;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ffc53727', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-google-plus:hover,
        .btn-google-plus:focus,
        .btn-google-plus:active,
        .btn-google-plus.active,
        .btn-google-plus.disabled,
        .btn-google-plus[disabled] {
            color: #ffffff !important;
            background-color: #c53727;
            *background-color: #b03123;
        }

        .btn-google-plus:active,
        .btn-google-plus.active {
            background-color: #9a2b1f \9;
        }
    </style>

    <script src="/js/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/sweetalert.min.css">

    <script src="/js/sweetalert.min.js"></script>
</head>

<body data-spy="scroll">


    <style>
        @media screen and (max-width: 600px) {
            .cshcr-caroulse-layout {
                height: 65px;
                background-color: #3498db;

            }
        }

        .tv-ticker-item-tape {
            font-size: 16px !important;
            color: white !important;
        }
    </style>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: "en" },
                "google_translate_element"
            );
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>