<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

  <div class="cshcr-caroulse-layout" data-time="10" data-fsym="ETH,BTC,DASH,ADA,XRP,ETC,LTC,TRIG,WARP" data-tsyms="USD">
    <div class="tradingview-widget-container clearfix" style="width: 100%; height: 52px; background-color: rgb(31, 71, 151);">
      <iframe scrolling="no" allowtransparency="true" frameborder="0"
        src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22bittradecapitals.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D"
        style="
            box-sizing: border-box;
            height: 72px;
            width: 100%;
            color: white !important;
          "></iframe>
    </div>
  </div>
  <!-- header end -->

  <!--header section start-->
  <section style="background-image: url(images/aff.jpg)" class="breadcrumb-section contact-bg section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 style="color: #ffff">About NexGold Finance (NGF)</h1>
        </div>
      </div>
    </div>
  </section>
  <!--Header section end-->

  <br /><br />
  <section class="about-us-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-10" style="text-align: justify">
          <p>
            &nbsp; &nbsp; &nbsp; NexGold Finance was founded in 2006
            by a highly-specialised team with backgrounds in FINANCE, FOREX,
            STOCKS , BONDS, REAL ESTATE INVESTMENT AND CRYPTO CURRENCIES .
            Created to help clients pursue their financial goals, we proudly
            offer transparent access to the financial market with the sole
            purpose of ensuring that everyone has an insight on investments
            and has such made sure that anyone that crosses our path has a
            genuine encounter with the investment market. Our aim is to help
            others achieve their aim in life, we saw the opportunity to help
            others and we took it, and so are we passionate about it.
            Investments are life-savers and shouldn’t be rejected by anyone,
            you’re helping yourself and no one else, this goes to answer the
            question of “why do I invest?” Basically all directions leads to
            this and a strong reason is having something in store for a rainy
            day, or making a life changing decision which would require a lot
            of financial support and how to do this. This is where we come in,
            this is where we help you by investing your money in securities
            that will yield more dividends over a short period of time. We
            believe in empowering novice investors and also the experts (you
            are all important to us).
          </p>

          <p>
            <br />
            &nbsp; &nbsp; &nbsp; &nbsp;NexGold Finance is a business
            built from the ground up, addressing a very sincere and genuine
            need in the market; to be a fund manager who can be trusted and
            relied upon by every trader. In 2010, the fund management services
            were offered internationally, after a year of only offering these
            services nationally. This was to achieve larger investor
            subscription and have a worldwide business in tandem with the
            changing cultures of the Twenty-first Century. As of 2010, our
            monthly volume flow was approximately 100 million USD (notional),
            for a collective AUM (Assets Under Management) of slightly under
            USD 35M.
          </p>

          <p>
            &nbsp; &nbsp; &nbsp; These amounts are ever-growing. As early as
            2006 , the founders of NexGold Finance, LLC started
            promoting invention and innovation. Until 2010, the founding fund
            managers and active traders of NexGold Finance , LLC
            were operating under their own individual operations, including a
            variety of private funds. In 2011 the infrastructure already in
            place was finally offered to retail market traders under the name
            NexGold Finance. The entire institutional platform,
            liquidity, and clearance engine was leveraged on to provide for
            retail market flow. Until 2010 the founding fund managers and
            active traders of NexGold Finance were sailing their own
            ships. In 2010 they anchored and decided to sail together and the
            founders of NexGold Finance started implementing
            collective structures.
          </p>

          <p>
            &nbsp; &nbsp; &nbsp; Since 2006 ,NexGold Finance has
            maintained a 98% satisfaction rate among its short-term and
            long-term clients. NexGold Finance is a part of the
            Investors Compensation Fund in the USA and in Europe. As a
            signatory. Today both novice investors and professional
            participants of the foreign exchange market use services of the
            management company NexGold Finance, because both
            understand the justifiability of using the most effective
            investment mechanism developed by our company. We are interested
            in long-term and productive cooperation with each investor. To
            appreciate the benefits we offer you, you should open account in
            NexGold Finance and ensure a high level return and
            quality of our work.
          </p>
          <p>
            NexGold Finance manages portfolios for individuals,
            qualified retirement plans and corporate entities utilizing mutual
            funds and individual securities. Harness the depth and breadth of
            our capabilities to build tailored investment portfolios that are
            designed to meet your individual needs and objectives. We work
            with clients of all sizes, from small local businesses to large
            multinational organizations. Our extensive experience allows us to
            identify best practices and scale them to meet your needs.
          </p>

          <p>
            Given our strong background, we have always been able to offer
            superior access to global FINANCIAL markets, which is why
            professional and retail traders are able to notice the remarkable
            difference between NexGold Finance and other brokers.
          </p>

          <p>
            We continually strive to evolve our offering to ensure that we
            deliver a service that is far superior to anything else on the
            market. Smart traders make smart decisions, so become a NexGold Finance client today and experience the
            difference.
          </p>

          <p>
            <strong>NexGold Finance Values</strong><br />
            At NexGold Finance , it is important for us to provide
            complete transparency in an often cloudy industry. That is why we
            go over and above to make ourselves available to fulfil the needs
            of our clients and continue to deliver an exceptionally reliable
            service. Understanding that our clients’ trust must be earned is
            what sets us apart from other brokers. As such, we stand to offer
            our clients the best service possible, actively promoting
            integrity and ethical practices throughout the FINANCIAL industry.
          </p>
          <p>
            Strong from our reputation of integrity, we proudly align our
            interests with that of our clients and hold ourselves completely
            accountable for our offering, ensuring our high standards are
            never compromised.
          </p>

          <p id="values">
            <strong> Standards and Safety </strong><br />&nbsp; &nbsp; &nbsp;
            As a leading Financial broker, we uphold the highest standards of
            regulation and compliance. We are also strictly audited and keep
            all client funds in a segregated trust account, to ensure your
            money is protected.
          </p>

          <p id="Transparency">
            <strong> Transparency </strong><br />&nbsp; &nbsp; &nbsp; NexGold Finance offers A Contract for Difference
            (CFD) which
            refers to a contract that enables two parties to enter into an
            agreement to trade on financial market with a specific percentage
            return
          </p>
          <p>
            CFD offers traders and investors an opportunity to profit from
            price movement without owning the underlying asset. It's a
            relatively simple security calculated by the asset's
            movement between trade entry and exit, computing only the price
            change without consideration of the asset's underlying value. This
            is accomplished through a contract between client and broker, and
            does not utilize any stock, forex, commodity or futures
            exchange. Trading CFDs offerand investors an opportunity to
            profit from price movement without owning the underlying asset.
             several major advantages that have increased the instruments'
            enormous popularity in the past decade.
          </p>
          <p>
            Every trades is monitored under a brokerage firm (IFMRRC) and
            clients have user control on their portfolio with 24/7 withdrawals
            at any point in time they choose to.
          </p>

          <p id="Whychooseus"><strong>Why choose us </strong>
            <br /><em>Why choose NexGold Finance ?</em><br />

          <p>At NexGold Finance, we believe in keeping our words, our clients always have a good review to give to
            others about our trustworthiness. Our clients are our only reason for the business. You are important to us.
            We go the extra mile to ensure the client is satisfied. We are outstanding in these key areas:</p>
          <ol start="1">
            <li> We provide a decent and remarkable profit margin in the business of fund management, all through the
              year, month after month up to 70%-95% returns </li>

            <li> We meet these targets averagely every month.</li>
            <li> We have a reliable financial department that handles issues of payout and initial investment and other
              monetary transactions.</li>
            <li> We are known for making withdrawals stress-free and easy for our clients.</li>
            <li> We have a very accessible team. Our team is always on ground to answer the questions of our clients, we
              value you.</li>
            <li> We have never had any negative review that could tarnish the image of our reputable company.</li>
            <li> We will never exhibit any act to tarnish our image</li>
            <li> We have a variety of trading platforms to meet every income level</li>
            <li> We care about and respect our investors no matter their investment plan</li>
            <li> We do not mismanage clients’ funds</li>
            <li> We always place carefully calculate trades for clients</li>
          </ol>
          <p>However in a rare case where NexGold Finance loses your investment, you are protected by the money back
            guarantee. We always keep clients updated with our regularly dispatched newsletters and emails</p>
          </p>

          <p id="PHILOSOPHY"><strong> OUR PHILOSOPHY </strong><br />
            NexGold Finance philosophy is that sincerity, honesty, reliability, and a genuine desire to serve the
            community is necessary for success, and these will provide blessings in abundance and in perpetuity. We take
            great pride in serving you the best way possible, and in always being honest, sincere, and transparent. We
            are perfectionists and this is evident in everything we do, from the company name to the trading products,
            services, and platforms that we provide.
            Our drive and value proposition to you is our integrity, transparency and privileged services that is
            secondary to none. We personify these values by: Personifying good customer service to our clients. Payout
            execution in less than 48 hours. Trading only the most carefully studied options and commodities (currently
            at 97% success rate). Hassle-free deposit process.
          </p>

          <p id="MISSION"><strong>MISSION STATEMENT </strong><br />
            NexGold Finance(“NGF”) is a global broker regulated by the Financial Conduct Authority (FCA) ,granting
            investors a safe haven for their investments
          </p>

          <p id="FAIR"><strong>BE FAIR </strong><br />&nbsp; &nbsp; &nbsp;
            The fair treatment of our clients is at the heart of our business. The way we build long term relationships
            with traders is by safeguarding our customers’ interests in a transparent, efficient manner – which is why
            we are regulated by the Financial Conduct Authority (FCA).
            The FCA has set out six top Treating Customers Fairly (TCF) consumer outcomes to ensure the fair treatment
            of customers.
            NexGold Finance is committed to continued FCA authorization and regulation, and we see FCA TCF values as the
            core of everything that we do.
          </p>
          <p>Also,NexGold Finance is a CIMA regulated Forex provider, granting traders access to the global Forex market
            through top-tier FX liquidity providers.</p>

          <p id="WANT"><strong>WE WANT </strong><br />


          <ol start="1">
            <li> To be recognised by you as a trusted, dynamic, market-leading FINANCIAL broker business partner </li>

            <li> To provide you with the crucial tools, education and customer service that make you successful in this
              rapidly moving market.</li>

            <li> To show our long-term commitment to a trading relationship with you.</li>

            <li> To build personal trust and a track record of exceptional product quality and security.</li>

            <li> To hear about the gratification, adventure, risks and rewards that your trading may bring.</li>
          </ol>

          </p>

          <p id="PROVIDE"><strong>WE PROVIDE </strong><br />


          <ol start="1">
            <li> The best execution-only trading product and technology experience</li>

            <li> To provide you with the crucial tools, education and customer service that make you successful in this
              rapidly moving market.</li>

            <li> Live support 24/7 support, delivered by a dedicated team.</li>

            <li> Education and training with education materials and webinars.</li>

            <li> Trading communities.</li>

            <li> Instant execution.</li>
          </ol>

          </p>

        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>

    </body>

</html>