<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

  <div class="cshcr-caroulse-layout" style="background-color: rgba(37, 104, 239, 1);" data-time="10"
    data-fsym="ETH,BTC,DASH,ADA,XRP,ETC,LTC,TRIG,WARP" data-tsyms="USD">
    <div class="tradingview-widget-container clearfix" style="width: 100%; height: 52px; background-color: rgba(37, 104, 239, 1)">
      <!-- src="ticker-tape.html#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22bittradecapitals.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D" -->
      <iframe scrolling="no" allowtransparency="true" frameborder="0"
        src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22OANDA%3ASPX500USD%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITSTAMP%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22light%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22bittradecapitals.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D"
        style="
            box-sizing: border-box;
            height: 72px;
            width: 100%;
            color: white !important;
          "></iframe>
    </div>
  </div>
  <!-- header end -->

  <!--header section start-->
  <section style="background-image: url(images/cpa.jpeg)" class="breadcrumb-section contact-bg section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 style="color: #ffff">CPA AFFILIATE PROGRAM </h1>
        </div>
      </div>
    </div>
  </section>
  <!--Header section end-->

  <br /><br />
  <section class="about-us-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-10" style="text-align: justify">
          <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; ">Earn more
            as a NexGold Finance CPA Affiliate Partner</h1>
          <hr style="width: 50%; border-width: 5px; border-color: rgba(37, 104, 239, 1);" />
          <p>
            &nbsp; &nbsp; &nbsp; NexGold Finance is proud to offer an industry-leading CPA Affiliate Partnership
            program. As an affiliate partner, you’ll earn great commissions on referrals and receive exclusive access to
            highly personalised, targeted marketing products designed to unlock your earning potential.
            <br />
            Also, by partnering with NexGold Finance, you’re able to leverage our global reputation and strong brand
            recognition, offering your referrals the peace of mind that they’ll be joining an industry-leading,
            regulated broker.
          </p>

          <p>
            <br />
            &nbsp; &nbsp; &nbsp; &nbsp;As a NexGold Finance Affiliate Partner, you receive free access to the
            state-of-the-art marketing platform, CellXpert. The CellXpert platform offers partners a complete solution
            to serve ads, track clickthroughs and conversions, manage the performance of campaigns, and importantly,
            view transparent reports of your earnings.
          </p>

          <p>
            &nbsp; &nbsp; &nbsp; Best of all, our partnership programs are available to individuals and corporate
            clients across the globe. From financial trading specialists to social media influencers, and marketing
            professionals to SEO experts, our CPA Affiliate program offers unrivaled rebates to anyone who refers
            clients to NexGold Finance.
          </p>

          <p>
            &nbsp; &nbsp; &nbsp; Become a NexGold Finance Affiliate Partner today and boost your potential for big
            profit.

          </p>


          <p>
            <strong>Referral Commission</strong><br />
            <strong> 10%</strong><br />
            Present our project to your friends, family, or any other community, advertise & promote it everywhere and
            enjoy the financial benefits under this program.
          </p>

        </div>
      </div>
    </div>
  </section>
  <%- include('partials/footer.ejs') %>

    </body>

</html>